*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: url(https://i.pinimg.com/736x/32/e6/30/32e6304f9bc388962078c9df83985a3c.jpg)
}
form {
  border: 2px solid plum;
  padding: 20px;
  border-radius: 8px;
  background-color: gray
}
h2{
  text-align: center;
  color: rgb(18, 12, 16);
  margin-bottom: 10px;
  padding: 30px;
  border-bottom: 4px solid rgb(187, 19, 103);
}
h1{
  text-align: center;
  color: black;
  border-bottom: 4px palevioletred;
  padding: 20px;
}
.container{
  background-color: aliceblue;
  padding: 30px;
  border-radius: 5px;
  border: 3px solid palevioletred;
  margin: 0 auto;
}