*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: lightslategray;
  padding: 20px;
  display: block;
  background: fixed;
  background-image: url(https://i.pinimg.com/736x/62/ff/25/62ff25a0fd85a94389d79afc2b12d7da.jpg)
}

h2{
  text-align: center;
  color: rgb(18, 12, 16);
  margin-bottom: 10px;
  padding: 30px;
  border-bottom: 4px solid rgb(187, 19, 103);
}
h1{
  text-align: center;
  color: black;
  border-bottom: 4px palevioletred;
  padding: 20px;
  font-display: swap;
  box-shadow: inset;
  border: 10px;
}
