 .All-form{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: solid black 2px;
  background-color: rgb(229, 164, 175);
  box-shadow: 0px 5px 5px 5px rgb(217, 163, 217);
}
body {
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: lightslategray;
  padding: 20px;
  display: block;
  background: fixed;
  background-image: url(https://img.freepik.com/free-photo/vintage-background_23-2151901327.jpg?semt=ais_hybrid&w=740&q=80)
}

h2{
  text-align: center;
  color: rgb(18, 12, 16);
  margin-bottom: 10px;
  padding: 30px;
  border-bottom: 4px solid rgb(187, 19, 103);
}
h1{
  text-align: center;
  color: black;
  border-bottom: 4px palevioletred;
  padding: 20px;
  font-display: swap;
  box-shadow: rgb(245, 223, 241);
  border: 10px;
  background-color: #eadced;
}
#result{
  font-weight: bold;
  text-align: center;
  color: blueviolet;
}
 .form{
  text-align: center;
  padding: 20px;
  color: rgb(228, 7, 228);
 }
 footer{
  font-style: italic;
  text-align: center;
  color: blueviolet;
 }
